// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss

@use 'sass:color';

$fg-color: #ffffff;
$bg-color: #110b0c;
$detail-color: #5d9ad6;
$lighter-bg: color.adjust($bg-color, $lightness: 10%);

window.Bar {
  background: transparent;
  color: $fg-color;
  font-family: FiraCode;
  font-weight: bold;

  slider {
    background: $bg-color;
    box-shadow: 0 0 0 2px $detail-color inset;
  }

  slider:hover {
    box-shadow: 0 0 0 2px $detail-color inset, 0 0 0 8px rgba(255, 255, 255, 0.1);
  }

  highlight {
    background: $detail-color;
  }

  button {
    background: $lighter-bg;
    border-radius: 8px;
    margin: 2px;
    outline-color: $detail-color;
  }

  button:focus,
  calendar {
    background: $lighter-bg;
  }

  .today:selected,
  .today:focus {
    color: $bg-color;
    background: $detail-color;
  }

  .today {
    color: $detail-color;
    background: $bg-color;
  }

  button:active,
  button:checked {
    background: $detail-color;
    color: $bg-color;
  }

  popover>contents,
  popover>arrow {
    background: $bg-color;
  }

  >centerbox {
    border-radius: 10px;
  }

  >box>box {
    background: $bg-color;
    border-radius: 10px;
    padding: 1px;

    >box>label {
      padding: 0 10px;
    }
  }

  contents>box>label {
    padding-top: 4px;
    padding-bottom: 0;
  }

  levelbar>trough>block {
    border-radius: 6px;
    margin: 1px 0;
  }

  levelbar>trough>block.filled,
  levelbar>trough>block.full {
    background: $detail-color;
  }

  .active,
  .active:focus {
    background: $detail-color;
    color: $bg-color;
  }
}
