// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #ffffff;
$bg-color: #110b0c;
$detail-color: #b9bbbc;

window.Bar {
  background: transparent;
  color: $fg-color;
  font-family: FiraCode;
  font-weight: bold;

  >centerbox {
    border-radius: 10px;
  }

  >box>box {
    background: $bg-color;
    border-radius: 10px;
    padding: 1px;

    >box>label {
      padding: 0 10px;
    }
  }

  contents>box>label {
    padding-top: 4px;
    padding-bottom: 0;
  }

  button {
    border-radius: 8px;
    margin: 2px;
  }

  levelbar>trough>block {
    border-radius: 6px;
    margin: 1px 0;
  }

  .active {
    background: $detail-color;
    color: $bg-color;
  }
}
